
<html lang="en">

    <br>
</br>
        <h1>Welcome to bcrypt :</h1>
        <h3><div class="logins content">
            <form action="/logins" method="POST">
                <h2><b>Logins: </b></h2>
            <% if (theLogins.length > 0) { %>
                <% theLogins.forEach(login => { %>
                    <b><%= login.first_name %></b>
                    <a href="/logins/<%=login.id%>/edit?first_name=<%=login.first_name%>">edit</a>
                    <a href="/logins/<%=login.id%>/delete?first_name=<%=login.first_name%>">delete</a></br>
                    <% }) %>
            <% } %>
            </br><label>Add Login:</label></br>
            <label>Username:
                <input type="text" id="first_name" name="first_name" value="<%= locals.first_name %>" required>
            </label>
            <label>Password:
                <input type="password" id="password" name="password" value="<%= locals.password %>" required>
            </label>
            </br>

            <label>number:
                <input type="text" id="number" name="number" value="<%= locals.number %>" required>
            </label>
            <button>POST</button>
        </form>
        </div>
    </h3>
    </body>

</html>